<% if @user.errors.any? %>
  <div id="error_explanation" class='container text-danger'>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited saving :</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, class: 'container' do |form| %>
  <div class='form-group'>
    <%= form.label :email %>
    <%= form.text_field 'email', class: 'form-control', placeholder: 'example@example.com' %>
  </div>

  <div class='form-group'>
    <%= form.label 'username' %>
    <%= form.text_field 'username', class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label 'password' %>
    <%= form.password_field 'password', class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
