<%= form_tag users_path do %>
  <div class='field'>
    <%= label_tag 'user[email]' %>
    <%= text_field_tag 'user[email]' %>
  </div>

  <div class='field'>
    <%= label_tag 'user[username]' %>
    <%= text_field_tag 'user[username]' %>
  </div>

  <div class='field'>
    <%= label_tag 'user[password]' %>
    <%= text_field_tag 'user[password]' %>
  </div>

  <%= submit_tag 'Create User' %>
<% end %>
