<div class="container">
  <%= form_tag users_path do %>
    <div class='form-group'>
      <%= label_tag 'user[email]', 'Email:' %>
      <%= text_field_tag 'user[email]', nil, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= label_tag 'user[username]', 'Username:' %>
      <%= text_field_tag 'user[username]', nil, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= label_tag 'user[password]', 'Password:' %>
      <%= text_field_tag 'user[password]', nil, class: 'form-control' %>
    </div>

    <%= submit_tag 'Create User', class: 'btn btn-primary' %>
  <% end %>
</div>
